<ion-modal-view>
    <ion-header-bar class='bar-positive'>
        <button ng-click="closePopover($event)" class='button icon ion-arrow-left-a'></button>
        <h1 class="title">Add Expenses</h1>
    </ion-header-bar>
    <ion-content class='padding'>
        <div class="list card">
            <form name='formFactor'>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Expense Name</span>
                    <input type="text" placeholder="Expense Name" pattern="[a-zA-Z0-9]+" required name='name' ng-model='expenses.name'>
                    <div ng-messages="formFactor.name.$error" style='font-size: 0.8em;color: red;'>
                        <div ng-message='required'>
                            This is required.
                        </div>
                        <div ng-message='pattern'>No special Characters.</div>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Amount ({{currencyForTrip}})</span>
                    <input type="text" pattern="[0-9]+" ng-model='expenses.amount' placeholder="Expense Amount" name='amount' required>
                    <div ng-messages="formFactor.amount.$error" style='font-size: 0.8em;color: red;'>
                        <div ng-message='required'>
                            This is required.
                        </div>
                        <div ng-message='pattern'>No special Characters.</div>
                    </div>
                </label>
            </form>
        </div>
        <button ng-disabled='formFactor.$invalid' myclick='addExpenses(expenses)' class="button button-block button-balanced">
            Add Expense
        </button>
    </ion-content>
</ion-modal-view>