<ion-view>
    <ion-header-bar class='bar-positive'>
        <button ng-click="gotoPage('login')" class="button icon ion-arrow-left-a"></button>
        <p class='title'>Forgot Password</p>
    </ion-header-bar>
    <ion-content class='padding'>
        <div style='margin-top:40px;'>
            <form name='formFactor'>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email Id</span>
                        <input type="email" placeholder="Enter your Email" required name='name' ng-keypress="hideError()" ng-model="list.forgotEmail">
                        <div ng-messages='formFactor.name.$error' style='font-size: 0.8em;color: red;'>
                            <div ng-message='required'>
                                This is Required
                            </div>
                            <div ng-message='email'>
                                Invalid Email Id
                            </div>
                        </div>
                    </label>
                </div>
            </form>
            <div class='row'>
                <div class='col'>
                    <button ng-disabled='formFactor.$invalid ' ng-click='resetPassword(list.forgotEmail)' class="button button-block button-positive button-small ">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>