<ion-view>
	<ion-header-bar class='bar-positive'>
	<button ng-click="gotoPage('login')" class="button icon ion-arrow-left-a"></button>
		<p class='title'>Forgot Password</p>
	</ion-header-bar>
	<ion-content class='padding'>
	<div style='margin-top:40px;'>
		<div layout='column' layout-align-gt-sm='center center'>
		<md-whiteframe class="md-whiteframe-z2" layout='column' layout-align="center center">
		<form name='formfactor'>
			<md-content layout-padding layout="row" layout-sm="column">
				<md-input-container>
					<label>Email Id</label>
					<input type='email' required name='input' ng-model='list.forgotEmail'>
					<div ng-messages='formfactor.input.$error'>
						<div ng-message='required'>Email Reuired</div>
						<div ng-message='email'>Put an Valid email</div>
					</div>
				</md-input-container>
			</md-content>
			<section layout='row' layout-align='center center'>
				<md-button ng-disabled='formfactor.$invalid' myclick='resetPassword(list.forgotEmail)' class="md-raised md-primary">Submit</md-button>
			</section>
		</form>
		</md-whiteframe>
		</div>
	</div>
	</ion-content>
</ion-view>