<ion-view>
  <ion-header-bar class='bar-positive'>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content class='padding'>
  <div class='list'>
    <md-button md-no-ink class="md-primary" ng-click="gotoPage('register')">Register</md-button>
  </div>
    <form ng-submit='gotoMainPage(user)'>
      <md-whiteframe class="md-whiteframe-z2" layout='column' layout-align="center center">
       <md-content  layout-padding layout="row" layout-sm="column">
    <md-input-container>
      <label>Name</label>
      <input type='text' ng-model="user.uName">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type='password' ng-model="user.pName">
    </md-input-container>
     <section layout="row" layout-sm="row" layout-align="center center">
      <div ng-show='isError'>{{errorMsg.message}}</div>
    </section>
    <section layout="row" layout-sm="row" layout-align="center center">
      <md-button type='submit' class="md-raised md-primary">Submit</md-button>
    </section>
   
      </md-content>
    </md-whiteframe>
      <!-- <div class="list">
        <label class="item item-input">
          <span  class="input-label">Username</span>
          <input ng-model='user.uName' type="text" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input  ng-model='user.pName' type="password" required>
        </label>
        <label>
          <button type='submit' class="button button-block button-positive">
            Submit
        </button>
        </label>
      </div> -->
    </form>
  </ion-content>
</ion-view>