<ion-modal-view>
    <ion-header-bar class='bar-positive'>
        <button ng-click="closePopover($event)" class='button icon ion-arrow-left-a'></button>
        <h1 class="title">Search User</h1>
    </ion-header-bar>
    <ion-content class='padding'>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model='searchName.name' placeholder="Search by username">
                </label>
                <button ng-click='getUserFromSearch(searchName)' class="button button-small">
                    Submit
                </button>
            </div>
        </div>
        <div ng-show='showUser'>
            <div ng-show='resultUser.length != 0'>
                <div ng-repeat="user in resultUser track by $index">
                    <div class="list card" ng-show='user.isAdded'>
                        <div class="item item-avatar">
                            <img ng-src="{{user.image}}">
                            <h2>{{user.name}}</h2>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <div>
                                <div class="tab-item" ng-click='addMembers(user)'>
                                    <i class="icon ion-thumbsup"></i> Add
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show='hideErrorMsg'>
                <div class="row">
                    <div style='margin: auto;text-align: center;' class="col col-75 col-offset-20">No such User Found or Already a member.</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>