<ion-view>
    <ion-header-bar class='bar-positive'>
        <button ng-click="gotoPage('tab.dash')" class='button icon ion-arrow-left-a'></button>
        <h1 class="title">Notification</h1>
        <!--  <button ng-click='getNotification()' class='button icon ion-refresh'></button> -->
    </ion-header-bar>
    <ion-content class='padding'>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNotification()">
        </ion-refresher>
        <div ng-show='notificationObj.length == 0'>
            <div class="row">
                <div style='margin: auto;text-align: center;' class="col col-75 col-offset-20">Sorry You Have no Notification</div>
            </div>
        </div>
        <div ng-show='notificationObj.length!=0'>
            <div class="list card" style='border-radius: 3px;border-top: 3px solid red;box-shadow:3px 4px 4px 2px #dbdbdb;margin-bottom: 10px;' ng-repeat="user in notificationObj track by $index">
                <div class="item item-avatar">
                    <img ng-src='{{user.image}}' />
                    <div ng-click='showBottomSheet(user)' style='float:right;width: 30px;height: 30px;float: right;'>
                        <i style='margin: 8px;' class='icon ion-android-options'></i>
                    </div>
                    <p style='white-space: pre-wrap;'> {{user.createdBy}} wants you to join {{user.tripName}} Event</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>