<ion-view>
    <ion-header-bar class='bar-positive'>
        <button ng-click="gotoPage('tab.dash')" class='button icon ion-arrow-left-a'></button>
        <h1 class="title">Notification</h1>
       <!--  <button ng-click='getNotification()' class='button icon ion-refresh'></button> -->
    </ion-header-bar>
    <ion-content class='padding'>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNotification()">

        </ion-refresher>
        <div ng-show='notificationObj.length == 0'>
            <div class="row">
                <div style='margin: auto;text-align: center;' class="col col-75 col-offset-20">Sorry You Have no Notification</div>
            </div>
        </div>
        <div ng-show='notificationObj.length!=0'>
            <md-list>
                <md-list-item style='border-radius: 3px;border-top: 3px solid red;box-shadow:3px 4px 4px 2px #dbdbdb;margin-bottom: 10px;' ng-repeat="user in notificationObj track by $index">
                    <img style='width: 63px;' ng-src='{{user.image}}' />
                    <p style='margin-left:15px;'>
                        {{user.createdBy}} wants you to join {{user.tripName}} Trip</p>
                    <md-menu>
                        <md-button aria-label="Open notification menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                            <md-icon class='icon ion-navicon-round'></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="confirmTrip(user)">
                                    <md-icon class='icon ion-thumbsup' md-menu-align-target></md-icon>
                                    Confirm
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="declineTrip(user)">
                                    <md-icon class='icon ion-thumbsdown' md-menu-align-target></md-icon>
                                    Reject
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        </div>
    </ion-content>
</ion-view>