<ion-view>
  <ion-header-bar class='bar-positive'>
  <button ng-click="gotoPage('tab.expenses')" class="button icon ion-arrow-left-a"></button>
    <h1 class="title">Register</h1>

  </ion-header-bar>
  <ion-content class='padding'>
  <!-- <md-button type='submit' md-no-ink class="md-primary" ng-click="gotoPage('login')">
   <i class='ion ion-ios-arrow-thin-left'>Login</i>
    </md-button> -->
      <md-whiteframe class="md-whiteframe-z2" layout='column' layout-align="center center">
       <md-content  layout-padding layout="row" layout-sm="column">
    <md-input-container>
      <label>Name</label>
      <input required ng-model='user.uname' name='name' type="text">
      <!-- <div ng-messages="projectForm.name.$error">
        <div ng-message="required">This is required.</div>
      </div> -->
    </md-input-container>
    <md-input-container>
      <label>User Name</label>
      <input required type='text'ng-model='user.username'>
    </md-input-container>
    <md-input-container>
      <label>Email Id</label>
      <input  required type='email' ng-model='user.email'>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input required ng-model='user.password' type="password">
    </md-input-container>
    <md-input-container>
      <label>Confirm Password</label>
      <input type="password" ng-model='user.confirmPass'>
    </md-input-container>
    <section layout="row" layout-sm="row" layout-align="center center">
    <div ng-show='user.password!=user.confirmPass'>
        Both are Different
      </div>
    </section>
     <section layout="row" layout-sm="row" layout-align="center center">
      <div ng-show='errReg'>{{errorReg.message}}</div>
    </section>
    <section layout="row" layout-sm="row" layout-align="center center">
      <md-button ng-click='registerUser(user)' class="md-raised md-primary">Register</md-button>
      <md-button ng-click='registerClearUser()' class="md-raised md-primary">Clear</md-button>
    </section>
      </md-content>
    </md-whiteframe>
  </ion-content>
</ion-view>