<ion-view>
    <ion-header-bar class='bar-positive bar bar-header'>
        <button ng-click="gotoPage('tab.dash')" class="button icon ion-arrow-left-a"></button>
        <h1 class="title">Expenses</h1>
        <button ng-click='findTripForMember()' class='button icon ion-refresh'></button>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="findTripForMember()">
        </ion-refresher>
        <div ng-show='tripsArray.length !=0'>
            <div ng-repeat='tp in tripsArray'>
                <div class="list card" ng-click='getExpenseFromTrip($index)'  style='box-shadow: 3px 4px 6px 2px #dbdbdb;'>
                    <div class="item item-divider">{{tp.name}}</div>
                    <div class="item item-body">
                        <div>
                            <div style='float:left;'>
                                <h4>Total Members: {{tp.members.length}}</h4>
                                <h4>Created By: {{tp.createdBy}}</h4>
                            </div>
                            <h4 style='float:right;'><span>Trip Date:</span>{{tp.date.getUTCDate()}}/ {{tp.date.getUTCMonth() + 1}} / {{tp.date.getUTCFullYear()}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show='tripsArray.length ==0'>
            <div class="row">
                <div class="col col-75 col-offset-20">Sorry You are not a part of any trip</div>
            </div>
        </div>
    </ion-content>
</ion-view>