<ion-view  view-title="Chats">
<ion-header-bar class="bar-positive">
      <h1 class="title">Summary</h1>
    </ion-header-bar>
  <ion-content>
    <md-button  class="md-raised md-primary" ng-click="findTripForMember()">
    Get Trip
  </md-button>
   <ion-refresher pulling-text="Pull to refresh..." on-refresh="findTripForMember()">
   </ion-refresher>
    <div ng-repeat='tp in tripsArray'>
    <div class="list card" ng-click='getExpenseFromTrip($index)'>
      <div class="item item-divider">{{tp.name}}</div>
      <div class="item item-body">
        <div>
          <div style='float:left;'><h4>Total Members: {{tp.members.length}}</h4>
              <h4>Created By: {{tp.createdBy}}</h4>
          </div>
          <h4 style='float:right;'><span>Trip Date:</span>{{tp.date.getUTCDate()}}/ {{tp.date.getUTCMonth() + 1}} / {{tp.date.getUTCFullYear()}}</h4>
        </div>
      </div>
    </div>
  </div>
<!--   <div class="list" ng-show='isRead'>
  <div  ng-repeat="chat in users">
    <div ng-show='chat.id === currentUser.id'>
    <div ng-show='chat.lend.length>0'>
     <div>
      <div class="list" ng-repeat='inside in chat.lend'>
        <a class="item item-avatar" href="#">
          <img src="http://icons.iconarchive.com/icons/hopstarter/face-avatars/256/Male-Face-C2-icon.png">
          <h2>{{inside.name}}</h2>
          <p>You Owe Rs.{{inside.amount}}</p>
        </a>
      </div>
       <div class="item item-divider item-text-wrap">{{chat.name}} lended to {{inside.name}} amount {{inside.amount}}
       </div>
     </div>
   </div>
   <div ng-show='chat.owe.length>0'>
     <div>
      <div class="list" ng-repeat='inside in chat.owe'>
        <a class="item item-avatar" href="#">
          <img src="http://icons.iconarchive.com/icons/hopstarter/face-avatars/256/Male-Face-C2-icon.png">
          <h2>{{inside.name}}</h2>
          <p>Owes You Rs.{{inside.amount}}</p>
        </a>
      </div>
      <h3 class="item item-divider item-text-wrap">{{inside.name}} owes {{chat.name}} amount Rs. {{inside.amount}}</h3>
     </div>
   </div>
 </div>
 </div>
 </div> -->
  </ion-content>
</ion-view>