<ion-view view-title="Dashboard">
<div class="bar bar-header bar-positive">
  <button ng-click='openNotification()' ng-class="{'ion-ios-bell':notificationObj.length > 0,'ion-ios-bell-outline':notificationObj.length == 0}"  class="button icon badge1" data-badge="{{notificationObj.length}}" type="button">
</button> 
  <h1 class="title">Home</h1>
 <button ng-click='logOutUser()' class="button" type="button">
Logout
</button>
</div>
    <ion-content class='padding'>
        <div class='card'>
            <div class="item item-thumbnail-left">
                <img ng-src='{{currentUser.attributes.image}}'>
                <h2>Hello {{currentUser.attributes.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="card cursor" ng-click="gotoPage('trip')">
                    <div class="item item-text-wrap">
                        <div class='icon ion-android-plane'></div>
                        <h4>Create An Event</h4>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card cursor" ng-click="gotoPage('tab.expenses')">
                    <div class="item item-text-wrap">
                        <div class='icon ion-android-clipboard'></div>
                        <h4>Add An Expense</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="card cursor" ng-click="gotoPage('tab.summary')">
                    <div class="item item-text-wrap">
                        <div class='icon ion-android-mail'></div>
                        <h4>Summary</h4>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card cursor" ng-click="gotoPage('tab.profile')">
                    <div class="item item-text-wrap">
                        <div class='icon ion-person'></div>
                        <h4>Profile View</h4>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>