<div class='add-pos-button'>
	<md-fab-speed-dial md-open="false" md-direction="down" class="md-fling">
		<md-fab-trigger>
			<md-button  class="md-mini md-fab md-primary">
				<i class='ion ion-navicon-round'></i>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
			<md-button class="md-mini md-fab md-primary" ng-click="openPopover($event)">
				<i class='ion ion-plus'></i>
				<md-tooltip md-direction='left'>
					Add Expense
				</md-tooltip>
			</md-button>
			<md-button class="md-mini md-fab md-warning" ng-click="calculateTotal($event)">
				<i class='ion ion-ios-compose-outline'></i>
				<md-tooltip md-direction='left'>
					Total
				</md-tooltip>
			</md-button>
			<md-button  class="md-mini md-fab md-warning" ng-click="findTripForMember()">
				<i class='ion ion-ios-compose-outline'></i>
				<md-tooltip md-direction='left'>
					TimePass
				</md-tooltip>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>
<ion-view ng-init='getExpenses()'>
	<ion-header-bar class='bar-positive bar bar-header'>
	   <h1 class="title">Expenses</h1>
	   <button class="button ion-android-notifications-none" type="button">
	      <span class="badge">4</span>
	    </button>
	</ion-header-bar>
	<ion-content class="padding">
	<div ng-repeat='tp in tripsArray'>
		<div class="list card">
	    <div class="item item-divider">{{tp.name}}</div>
	    <div class="item item-body">
	      <div>
	        <div style='float:left;'><h4>Total Members: {{tp.members.length}}</h4>
							<h4>Created By: {{tp.createdBy}}</h4>
	        </div>
	        <h4 style='float:right;'><span>Trip Date:</span>{{tp.date.getUTCDate()}}/ {{tp.date.getUTCMonth() + 1}} / {{tp.date.getUTCFullYear()}}</h4>
	      </div>
	    </div>
	  </div>
	</div>
		<!-- <div ng-repeat="expense in expensesItem |orderBy: '-date'">
			  <div class="list card">
			    <div class="item item-divider">{{expense.name}}</div>
			    <div class="item item-body">
			      <div>
			        Amount is Rs.<b>{{expense.amount}}</b>
			        <h4 style='float:right;'>Created By {{expense.createdBy}}</h4>
			      </div>
			    </div>
			  </div>
			</div>
			 -->	
	</ion-content>
</ion-view>