<ion-view title="Members">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button ng-click="gotoPage('tab.expenses')" class="button icon ion-arrow-left-a"></button>
  </ion-nav-buttons>
  <ion-content class='padding'>
    <div ng-repeat='user in membersForExp'>
      <div class="card">
        <div class="item item-text-wrap item-avatar">
          <img ng-src='{{user.image}}'>
          <h2>{{user.name}}</h2>
          <p>{{user.username}}</p>
        </div>
      </div>
    </div>
    <div ng-show='membersForExpYetToConfirm.length != 0'>
      <div class="item item-divider">
        Members Yet to Confirm
      </div>
    </div>
    <div ng-repeat='user in membersForExpYetToConfirm'>
      <div class="card">
        <div class="item item-text-wrap item-avatar">
          <img ng-src='{{user.image}}'>
          <h2>{{user.name}}</h2>
          <p>{{user.username}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>