/* Empty. Add your own CSS if you like */

.add-pos-button {
	top: 80px;
    right:20px;
    z-index: 5;
    position:absolute;
}

.sum-pos-button {
	top:100px;
	right: 20px;
	position: fixed;
	z-index: 5;
}

.submit-position {
	position: fixed;
  z-index: 5;
  top: 50px;
  right: 5px;
}

.cursor { cursor: pointer;}
