/* Empty. Add your own CSS if you like */

.add-pos-button {
	top: 50px;
    right:20px;
    z-index: 5;
    position:fixed;
}

.sum-pos-button {
	top:100px;
	right: 20px;
	position: fixed;
	z-index: 5;
}

.cursor { cursor: pointer;}
