/* Empty. Add your own CSS if you like */

.add-pos-button {
	margin-top: 100px;
    z-index: 5;
    position:relative;
}

.custom-position {
  position: fixed;
  z-index: 5;
  top: 270px;
  right: 160px;
}

.sum-pos-button {
	top:100px;
	right: 20px;
	position: fixed;
	z-index: 5;
}


.user-error {
  padding-right: 30px;
  color: rgb(244,67,54);
  position: absolute;
  font-size: 12px;
  line-height: 24px;
}

.custom-icon {
  font-size: 30px;
  color:white;
}

.pane-loading {
/*  background-color: #387DF5;*/
     background-image: url(../img/screen12.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center; 
}

.edit-button {
  float: right;
}

.edit-button > .icon:before {
  font-size: 17px;
  line-height: 20px;
}

.edit-button > .button { 
  line-height: 0px;
  min-height: 0px; 
  } 



.login-loading {
  z-index: -1;
  background-image: url(../img/login.jpg);
   background-size: cover;
  height: 115px;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: center;
}

.submit-position {
	position: fixed;
  z-index: 5;
  top: 10px;
  right: 5px;
}

.add-expense-button {
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: 20px;
}

.loading-position {
  position: fixed;
  z-index: 5;
  top: 350px;
  right: 160px;
}

.cursor { cursor: pointer;}

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}

.marginBottom {
  margin-bottom:20px;
  margin-top:25px;
}

.close-section {
      float: right;
    height: 20px;
    width: 25px;
    border: 1px solid red;
}

#overlayDiv {
height: 30px;
    color: white;
    width: 120px;
    border-radius: 5px;
    z-index: 100;
    background-color: rgba(245, 143, 39, 0.85);
    box-shadow: 1px 1px 1px 1px black;;

}

  .badge1 {
    position:relative;
  }
  .badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:1px;
    left:20px;
    font-size:.9em;
    background:red;
    color:white;
    width:18px;
    height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:1px 1px 1px 1px #333;
  }

  .badge1[data-badge='0']:after {
  content: none;
}
